@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.top-item-title {
    color: rgb(226, 190, 45);
    display: flex;
    min-width: 200px;
    padding: 1rem 2rem;
    font-size: 3rem;
    font-family: Impact, sans-serif;
    box-shadow: 0 10px 2000px #003399;
    border-bottom: 1px solid #ffcc00;
}